USE [master]
GO
/****** Object:  Database [sanpham]    Script Date: 3/9/2019 11:07:20 AM ******/
CREATE DATABASE [sanpham]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'sanpham', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\sanpham.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'sanpham_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\sanpham_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [sanpham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [sanpham]
GO
/****** Object:  Table [dbo].[sp]    Script Date: 3/9/2019 11:07:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sp](
	[masp] [int] NOT NULL,
	[tensp] [nvarchar](50) NULL,
	[theloai] [nvarchar](50) NULL,
	[giatien] [nchar](10) NULL,
 CONSTRAINT [PK_sp] PRIMARY KEY CLUSTERED 
(
	[masp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
